.new-task-container {
  width: 180px;
  height: 180px;
  top: -55px;
  left: 10px;
  position: relative;
  z-index: 1500;
  border: 10px solid white;
  background-color: white;
  border-radius: 100%;
  margin: 0 -20px;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: center;

  .animation-container, .new-task, .backface {
    width: 100%;
    height: 100%;
    padding: 35px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid inherit;
    border-radius: 100%;
    -webkit-transform-style: preserve-3d;
  }

  .animation-container {
    box-shadow: 2px 2px 15px black;
    transition: all ease 0.8s;
    transition-delay: 0.3s;

    &:not(.create-success) .checkmark .check-bar::after {
      width: 0;
    }

    &.create-success {
      -webkit-transform: rotateY(180deg);

      .backface i {
        width: 100%;
      }
    }

    &.create-success-finish {
      -webkit-transform: rotateY(360deg);
    }
  }

  .new-task, .backface {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
  }

  .new-task {
    padding-top: 20px;
    color: white;
    background-color: #7D0000;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: inherit;
    -webkit-transform:rotateY(0deg);

    .new-task-title {
      width: 100%;
      border-radius: 5px;

      i {
        margin: 10px;
        font-size: 40px;
        color: $primary-color;
      }

      i, span {
        vertical-align: middle;
        text-shadow: 1px 1px 3px black;
      }
    }
  }

  .backface {
    background-color: darkgreen;
    -webkit-transform: rotateY(180deg);
    color: white;

    .checkmark {
      width: 100%;
      height: 100%;
      position: absolute;

      .check-bar {
        width: 100%;
        height: 100%;
        position: absolute;

        &::after {
          content: '';
          height: 12px;
          background-color: white;
          position: absolute;
          display: block;
        }
      }

      .left-check-bar {
        transform: rotate(45deg);
        top: 54px;
        left: -59px;

        &::after {
          width: 30px;
          transition: width ease 0.3s;
          transition-delay: 0.7s;
          border-radius: 3px;
        }
      }

      .right-check-bar {
        transform: rotate(-45deg);
        top: -38px;
        left: 58.5px;

        &::after {
          width: 70px;
          transition: width ease 0.3s;
          transition-delay: 1s;
          border-radius: 0 3px 3px 0;
        }
      }
    }

    p {
      font-size: 22px;
      margin-top: 65px;
    }
  }
}
