.followup-categories {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row no-wrap;

  .category {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;

    i {
      font-size: 25px;
      color: $secondary-color;
      text-shadow: 1px 1px 2px black;
      padding: 0 12px;
    }
  }

  .filter-placeholder {
    background-color: #615C5C;
    height: 62px;
    width: 50px;
    margin: 8px 0 0 8px;
  }

  .filter {
    height: 70px;
    padding: 20px;
    font-size: 20px;
    background-color: $third-color;
    border: $border-grid-width solid white;
    border-bottom: none;
    position: relative;
    flex: 1;
    transition: all ease 0.25s;

    &:not(:last-child) {
      border-right: none;
    }

    &:hover, &.active {
      color: lighten($primary-color, 5%);
      background-color: darken($third-color, 15%);
    }
  }

  .new-task-container {
    width: 180px;
    height: 180px;
    top: -55px;
    left: 10px;
    position: relative;
    z-index: 10;
    border: 10px solid white;
    background-color: white;
    border-radius: 100%;
    margin: 0 -20px;

    .new-task {
      width: 100%;
      height: 100%;
      padding: 35px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      color: white;
      background-color: #7D0000;
      box-shadow: 2px 2px 15px black;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .new-task-title {
        width: 100%;

        i {
          margin-bottom: 10px;
          font-size: 40px;
          color: $primary-color;
        }
      }
    }
  }
}
