$primary-color:     #BF1919;
$secondary-color:   #7D0000;
$third-color:       #615C5C;
$fourth-color:      #3A3737;
$text-color:        #FFF;
$highlight-color:   #2e6da4;
$border-grid-width: 8px;

$growlyflash-top:   100px !default;