<script type='text/html' id='archive-controls-template'>
    <i class='remover'>
      <div class='remove-controls'>
        <h1>Archive?</h1>
        <p> If you stop this task, <span class='related-recipient'></span> will be notified </p>
          <div class='control-btns'>
            <button class='btn btn-primary archive-btn'>Archive</button>
            <button class='btn btn-danger cancel-btn'>Cancel</button>
          </div>
        </div>
       </i>
      </div>
    </i>
</script>