<script type='text/html' id='task-details-template'>
    <div class='task-details'>
      <div class='description'>
        <h3>Description</h3>
        <p></p>
      </div>

      <div class='status-updates'>
        <h3>Status Updates</h3>
        <div class='updates-container'></div>
      </div>
    </div>
</script>

<script type='text/html' id='status-update-template'>
  <div class='task-status'>
    <div class='status-details'>
      <p class='status-state'></p>
      <p class='status-created-at'></p>
    </div>
    <span class='status-message'></span>
  </div>
</script>