<div class='dashboard'>
  <div class='followup-categories'>
    <div class='category new-task'>
      <button>
        <%= fa_icon 'plus' %>
        <span>New Task</span>
      </button>
    </div>

    <div class='category filter inbox'>
      <%= fa_icon 'envelope' %>
      <span>Inbox</span>
      <div class='active-filter-bar'></div>
    </div>

    <div class='category filter sent'>
      <%= fa_icon 'paper-plane' %>
      <span>Sent</span>
    </div>

    <div class='category filter archived'>
      <%= fa_icon 'archive' %>
      <span>Archived</span>
    </div>
  </div>
</div>